-
  let pageDir = initUrl(currentPage);
  let jsDir = pageDir + 'assets/js/';
  let cssDir = pageDir + 'assets/css/';
  let imgDir = pageDir + 'assets/img/';
  let imgComDir = imgDir + 'common/';

mixin navItem(pages, currentPage)
  ul.header-nav
    each page in pages
      - if(page.id === currentPage) {
        li.header-nav__item.current
          div= page.name
          ruby= page.en
      -  }
      - else {
        li.header-nav__item   
          a( href=pageDir +  page.url )
            div= page.name
            ruby= page.en
      -  }

mixin illustItem(illusts)
  - let illustDir = imgDir + 'oekaki/';
  .oekaki
    - Object.keys(illusts).forEach((postedYear) => {
      .oekaki-list
        h2= postedYear
        each illust in illusts[postedYear]
          - illust.alt = illust.alt || illust.title;
          .oekaki-list__item
            .oekaki-list__item--title 
            - if(illust.url) {
                h2= illust.url
                  .oekaki-list__item--img
                    img(src=illustDir + illust.src, alt=illust.alt)
            -  }
            .oekaki-list__item--text
            -  if(illust.text) {
            p= illust.text
            -  }
    - });
